{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="row mt-5 justify-content-center">Update Product</h3>

    {{ form_start(form) }}
    <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="category">Category</label>
                    {{ form_widget(form.category,{
                        'attr':{
                            'class':'form-control'
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="category">Product Name:</label>
                    {{ form_widget(form.prodName,{
                        'attr':{
                            'class':'form-control',
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="category">Price:</label>
                    {{ form_widget(form.price,{
                        'attr':{
                            'class':'form-control',
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="category">Quantity:</label>
                    {{ form_widget(form.quantity,{
                        'attr':{
                            'class':'form-control',
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="description">Description:</label>
                    {{ form_widget(form.description,{
                        'attr':{
                            'class':'form-control',
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="due_date">Date</label>
                    {{ form_widget(form.date,{
                        'attr':{
                            'class':'form-control'
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="due_date">Image</label>
                    {{ form_widget(form.productImage,{

                    }) }}
                </div>
            </div>
            <div class="text-center">
                <input type="submit" name="update_product" value="Update" class="btn btn-success"/>
            </div>
            <br>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}